@use "../../global/variables" as *;
@use "../../global/mixins/" as *;
@use "../../global/functions/" as *;
@use "../../object/utility/text_style" as *;
@use "../../object/utility/contents_style" as *;

.pg-index-original{
  @apply flex justify-center text-white;
  background-image: url('~/assets/images/original_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: size(50);
  padding-bottom: size(74);

  &__inner{
    @include u-base-contents-padding;
    @include u-1000px-contents-width;
  }

  &__content{
    @apply w-1/2 text-center flex flex-col gap-7;
  }

  &__text{
    @apply font-noto text-20px tracking-wide font-medium leading-1.6;
  }

  &__btn-area{
    @apply mt-5;
  }

}