@use "../../global/variables" as *;
@use "../../global/mixins/" as *;
@use "../../global/functions/" as *;
@use "../../object/utility/text_style" as *;
@use "../../object/utility/contents_style" as *;

.pg-index-world{
  @apply flex justify-center text-white;
  background-image: url('~/assets/images/world_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: size(50);
  padding-bottom: size(330);

  &__inner{
    @apply flex justify-center flex-col items-center gap-7;
    @include u-base-contents-padding;
    @include u-1000px-contents-width;
  }

  &__btn-area{
    @apply flex gap-12;
  }
}