<a type="{{ link }}" class="c-btn-style">{{ text }}
	<span class="c-btn-style__circle-arrow">
		{% include 'components/svg/_circle.html.twig' %}
		{% include 'components/svg/_arrow.html.twig' %}
	</span>
</a>
