<a type="{{ link }}" class="c-btn-style {% if class is defined and class %}{{ class }}{% endif %}">
	<span class="c-btn-style__circle-arrow">
		{% include 'components/svg/_circle.html.twig' %}
		{% include 'components/svg/_arrow.html.twig' %}
	</span>
	<p class="c-btn-style__text">{{ text }}</p>
</a>
