<div class="c-content-news-text-information">
	<time class="c-content-news-text-information__date">{{ date }}</time>
	<div class="c-content-news-text-information__company">
		<span class="c-content-news-text-information__tag">{{ tag }}</span>
	</div>
</div>
