<li class="c-content-news-text">
	<p class="c-content-news-text__title">
		<a class="c-content-news-text__link" href="#">お知らせタイトルが入りますお知らせタイトルが入りますお知らせタイトルが…</a>
	</p>
	<div class="c-content-news-text__information">
		{% include "components/common/_information.html.twig" with {
            date: "2022.00.00",
            tag: "会社情報",
           }%}
	</div>
</li>
