<div class="c-section-title {% if class is defined and class %}{{ class }}{% endif %}">
    <h1 class="c-section-title__main">{{ title }}</h1>
    <h3 class="c-section-title__sub">{{ subtitle }}</h3>
</div>