@use "../global/variables" as *;
@use "../global/mixins/" as *;
@use "../global/functions/" as *;
@use "../object/utility/text_style" as *;
@use "../object/utility/contents_style" as *;

.l-aside {
  @apply hidden fixed top-0 bg-white left-0 h-full z-[9000] flex-col items-center lg:flex w-[18.75%];

  &__icon {
    @apply py-10 bg-mainGreen w-full text-center sticky top-0 z-10;

    svg {
      @apply w-[76%] h-fit;
    }
  }

  &__lists {
    @apply w-full overflow-scroll overscroll-y-contain;

    &::-webkit-scrollbar {
      @apply hidden;
    }
  }

  &__button {
    @apply w-full;
  }
}

.l-aside-lists-list {

  &__title {
    @apply bg-black px-[13.5%];
    @include u-en-title-md;

    padding-top: size(17);
    padding-bottom: size(14);
  }

  &__items {
    @apply flex flex-col gap-5 pl-[13.5%];

    padding-top: size(20);
    padding-bottom: size(30);
  }

  &__item {
    &:nth-child(4) {
      padding-top: size(10);
    }
  }

  &__sub-title {
    @include u-en-title-sm;
  }

  &__link {
    @apply font-noto text-black text-18px relative pl-3 inline-block;

    &:hover .l-aside-lists-list__link-text {
      transform: translateX(7px);
    }

    &::after {
      @apply h-full absolute top-0 left-0 w-3;
      content: "";
      background: url('~/assets/images/arrow_aside.png') 0 no-repeat;
      background-size: size(6) auto;
    }
  }
  &__link-text {
    @apply inline-block;
    transition: transform 0.3s ease;
  }

}