<section class="pg-index-original">
	<div class="pg-index-original__inner">
		<div class="pg-index-original__content">
			{% include 'components/common/_section_title_small.html.twig' with {
        title: '個性をマスクで。',
        subtitle: 'ORIGINAL MLITMASK',
      } %}

			<div class="pg-index-original__text">
				あなただけの、唯一無二のマスク。<br class="lg-style"/>
				お店のロゴや写真を<br class="lg-style"/>
				エムリットマスクにプリントしませんか？<br class="lg-style"/>
			</div>
			<div class="pg-index-original__btn-area">
				{% include "components/common/_circle-arrow.html.twig" with {
        text: "オリジナルマスクを作る",
        link: "#",
      }%}
			</div>
		</div>
	</div>
</section>
