{% set cards = [
    {
        image_path: 'build/images/media_1.png',
        date: '2022.00.00',
        tag: 'メディア紹介',
        title: 'メディアタイトルが入りますメディアタイトルが入ります',
        link: '#'
    },
    {
        image_path: 'build/images/media_2.png',
        date: '2022.00.00',
        tag: 'メディア紹介',
        title: 'メディアタイトルが入りますメディアタイトルが入ります',
        link: '#'
    },
    {
        image_path: 'build/images/media_1.png',
        date: '2022.00.00',
        tag: 'メディア紹介',
        title: 'メディアタイトルが入りますメディアタイトルが入ります',
        link: '#'
    },
    {
        image_path: 'build/images/media_2.png',
        date: '2022.00.00',
        tag: 'メディア紹介',
        title: 'メディアタイトルが入りますメディアタイトルが入ります',
        link: '#'
    },
] %}

<section class="pg-index-media">
	<div class="pg-index-media__inner">
		<p class="pg-index-media__title">MEDIA PICKUP!</p>
		<div class="pg-index-media-slide">
			{% for card in cards %}
				{% include 'components/common/_slide_card.html.twig' with {
                image_path: card.image_path,
                date: card.date,
                tag: card.tag,
                title: card.title,
                link: card.link
            } %}
			{% endfor %}
		</div>
		<div class="pg-index-media__btn-area">
			{% include "components/common/_circle-arrow.html.twig" with {
                text: "一覧を見る",
                link: "#",
                class: "c-btn-style--black",
            }%}
		</div>
	</div>
</section>
