<section class="pg-index-mask">
	<div class="pg-index-mask__inner">
		<p class="pg-index-mask__english">
			MLITMASK
		</p>
		{% include 'components/common/_section_title.html.twig' with {
    title: 'エムリットマスク誕生。',
    subtitle: '独自開発N95specフィルターを内蔵した、日本製マスク。',
    class: 'c-section-title--black',
    } %}
		<div class="pg-index-mask__btn-area">
			{% include "components/common/_circle-arrow.html.twig" with {
        text: "仕様・特長",
        link: "#",
        class: "c-btn-style--black",
      }%}
			{% include "components/common/_circle-arrow.html.twig" with {
        text: "購入する",
        link: "#",
        class: "c-btn-style--black",
      }%}

		</div>
	</div>
</div></section>
