@use "../global/variables" as *;
@use "../global/functions" as *;
@use "../global/mixins/" as *;
@use "../object/utility/text_style" as *;
@use "../object/utility/contents_style" as *;

.c-btn-style {
  @apply font-noto text-18px leading-snug text-white flex items-center justify-center relative flex-row-reverse;

  &--black{
    @apply text-black;
    & , *{
      @apply fill-black;
    }
  }

  &__text{
    @apply relative inline-block cursor-pointer;
    &::after {
      @apply w-full absolute -bottom-1 left-0 bg-white opacity-0 block;
      content: '';
      height: size(1);
      transition: opacity 0.3s;
    }
    &:hover::after {
      @apply opacity-100;
    }
  }
  &__circle-arrow {
    @apply cursor-pointer relative inline-block fill-white;
    width: size(30);
    height: size(30);
    margin-left: size(10);

    &:hover + .c-btn-style__text::after {
      @apply opacity-100;
    }


    svg:nth-of-type(2) {
      @apply absolute left-3;
      position: absolute;
      top: size(10);
    }
  }

   &--black .c-btn-style__text::after {
    @apply bg-black;
  }
}