@use "../global/variables" as *;
@use "../global/functions" as *;
@use "../global/mixins/" as *;
@use "../object/utility/text_style" as *;
@use "../object/utility/contents_style" as *;

.c-list-link {
  &:not(:first-child) {
    margin-top: size(20);
  }

  &__sub-title {
    @apply font-noto text-20px font-medium leading-1.6 text-grayBg tracking-wide;
  }

  &__anchor {
    @apply font-noto text-18px font-medium leading-1.4 text-white relative pl-5;

    &::after {
      @apply h-full absolute left-0 top-0;
      content: "";
      background: url('~/assets/images/border.png') 0 no-repeat;
      background-size: 12px auto;
      width: size(10);
    }
  }

}

.c-list-link-title {
  @apply mb-8;

  &__anchor {
    @apply font-noto text-24px font-bold tracking-wide text-grayBg leading-1.4;

    &--white {
      @apply text-white;
    }
  }
}