@use "../global/variables" as *;
@use "../global/mixins/" as *;
@use "../global/functions" as *;
@use "../object/utility/text_style" as *;
@use "../object/utility/contents_style" as *;

.c-content-news-text{
  @apply flex justify-center flex-col-reverse relative overflow-hidden;
  border-top: 1px solid #DEDEDE;
  min-height: size(135);
  padding: 0 size(20);
  gap: size(20);

  &::before {
    @apply absolute top-0 -left-full w-full h-full bg-bgWhite opacity-0;
    content: '';
    transition: left 0.3s;
    z-index: -1;
  }

  &:hover::before {
    @apply opacity-100 left-0;
  }

  &:last-child{
    border-bottom: 1px solid #DEDEDE;
  }

  &::after{
    @apply h-full absolute top-0 w-3;
    content: "";
    background: url('~/assets/images/arrow.png') 0 no-repeat;
    background-size: 12px auto;
    right: size(30);
  }

  &__title{
    @apply font-noto text-20px font-medium tracking-wide leading-1.6 text-black;
  }

  &__link{
    @apply text-black;
  }
}