@use "../../global/variables" as *;
@use "../../global/functions" as *;
@use "../../global/mixins/media_query" as *;

// ----------------------------------------
// 装飾クラス
// ----------------------------------------
.text {
  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--left {
    text-align: left;
  }

  &--small {
    font-size: 80%;
  }

  &--large {
    font-size: 120%;
  }

  &--bold {
    font-weight: $font-bold;
  }
}

@mixin  u-title-h1 {
    @apply font-klee text-40px tracking-[.30em] leading-1.2 text-white
}

@mixin u-title-h2 {
    @apply font-klee text-2xl font-bold tracking-wide leading-2.5 text-mainGreen;
  }

@mixin u-en-title-md {
  @apply font-mont text-20px font-bold tracking-wide leading-1.4 text-white;
}
@mixin u-en-title-sm {
  @apply font-mont text-16px font-bold tracking-wide leading-1.4 text-mainGreen;
}