{% set items = [
        {
          title: "PRODUCT",
          lists:[
              {sub_title:"MLITFILTER"},
              {label: "フィルター製品特長"},
              {label: "ラインアップ"},
              {sub_title:"MLITMASK"},
              {label: "マスクの仕様・特長"},
              {label: "オンラインショップ"},
              {label: "オリジナルプリントマスク"},
          ]
        },
        {
          title: "ABOUT",
          lists:[
              {label: "我々の強み"},
              {label: "会社概要"},
          ]
        },
        {
          title: "INFORMATION",
          lists:[
              {label: "最新情報"},
              {label: "メディア情報"},
              {label: "採用情報"}
          ]
        },
      ] %}

<aside class="l-aside">
	<div class="l-aside__icon">
		{% include 'components/svg/_icon_logo.html.twig' %}
	</div>
	<div class="l-aside__lists">
		{% for item in items %}
			{% include 'components/layouts/_aside_lists_list.html.twig' with {
          title: item.title,
          lists: item.lists,
          }%}
		{% endfor %}

	</div>
		<div class="l-aside__button">
			{% include 'components/common/_buttons_contact.html.twig' %}
		</div>
</aside>
