<div class="l-aside">
	<div class="l-aside__icon">
  {% include 'components/svg/_icon_logo.html.twig' %}
  </div>
	<div class="l-aside-lists">
		<div class="l-aside-lists__list">
			<p class="l-aside-lists__list-title">PRODUCT</p>
			<div class="l-aside-lists__filter">
				<div class="l-aside-lists__list-subtitle">MLITFILTER</div>
				<ul>
					<li class="l-aside-lists__list-item">フィルター製品特長</li>
					<li class="l-aside-lists__list-item">ラインアップ</li>
				</ul>
			</div>
			<div class="l-aside-lists__mask">
				<div class="l-aside-lists__list-subtitle">MLITMASK</div>
				<ul>
					<li class="l-aside-lists__list-item">マスクの仕様・特長</li>
					<li class="l-aside-lists__list-item">オンラインショップ</li>
					<li class="l-aside-lists__list-item">オリジナルプリントマスク</li>
				</ul>
			</div>
		</div>
		<div class="l-aside-lists__list">
			<p class="l-aside-lists__list-title">ABOUT</p>
				<ul>
					<li class="l-aside-lists__list-item">我々の強み</li>
					<li class="l-aside-lists__list-item">会社概要</li>
				</ul>
		</div>
		<div class="l-aside-lists__list">
			<p class="l-aside-lists__list-title">INFORMATION</p>
				<ul>
					<li class="l-aside-lists__list-item">最新情報</li>
					<li class="l-aside-lists__list-item">メディア紹介</li>
					<li class="l-aside-lists__list-item">採用情報</li>
				</ul>
			</div>
	</div>
	<div class="l-aside__button"></div>
</div>
